@import '/styles/variables';

.header {
  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

    & a {
      color: $white;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        transition: 0.2s;
        color: $secondary !important;
      }
    }
  }
  &_logo img {
    width: 100px;
    display: block;
  }
  &_badge {
    position: absolute;
    top: 9px;
    font-size: 11px;
    background: #ffc704;
    color: black;
    border-radius: 10px;
    min-width: 20px;
    min-height: 20px;
    margin: auto;
    text-align: center;
    padding: 2px 0px 0px 2px;
  }
  @media (max-width: $bp-sm) {
    &_item {
      margin-right: 14px;
    }
  }
}
