.lyrics {
  background: #101010;
  overflow: hidden;
  position: relative;
  &_wrapper {
    height: 100vh;
    display: flex;
    width: 40%;
    margin: -66.25px auto 0;
    perspective: 350px;
    &_scroll {
      color: #ffc909 !important;
      font-size: 25px;
      line-height: 1.5em;
      font-weight: bold;
      text-align: justify;
      position: relative;
      animation: scroll 8s linear forwards;
      -webkit-animation: scroll 8s linear forwards;
      -moz-animation: scroll 8s linear forwards;
      img {
        margin: 200px 0 30px;
        width: 100%;
      }
      @keyframes scroll {
        from {
          top: 200px;
          transform: translateZ(0) rotateX(20deg);
        }
        to {
          top: -300px;
          transform: translateZ(-400px) rotateX(21deg);
        }
      }
    }
  }
  @media (max-width: $bp-sm) {
    &_wrapper {
      width: 85%;
      &_scroll {
        color: #ffc909 !important;
        font-size: 22px;

        line-height: 1.5em;
        font-weight: bold;
        text-align: justify;
        position: relative;
        animation: scroll 8s linear forwards;
        -webkit-animation: scroll 8s linear forwards;
        -moz-animation: scroll 8s linear forwards;
        img {
          margin: 200px 0 30px;
          width: 100%;
        }
        @keyframes scroll {
          from {
            top: 100px;
            transform: translateZ(0) rotateX(20deg);
          }
          to {
            top: -800px;
            transform: translateZ(-300px) rotateX(20deg);
          }
        }
      }
    }
  }
}
