@import '/styles/variables';

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_item {
    width: 18%;
    height: auto;
    margin: 1%;
    position: relative;

    border-radius: $br-md;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 50px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 50px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 50px;

    &:hover {
      scale: 103%;
      transition: 0.2s;
      box-shadow: rgba(0, 0, 0, 1) 0px 30px 90px;
      -webkit-box-shadow: rgba(0, 0, 0, 1) 0px 30px 90px;
      -moz-box-shadow: rgba(0, 0, 0, 1) 0px 30px 90px;
    }

    &:hover .box_item_overlay {
      opacity: 1;
    }

    & img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: 50% 0;
      height: 300px;

      border-radius: $br-md;
    }
    &_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.2s ease;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &_text {
      color: $white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &_light {
      box-shadow: 0 0 15px #fff, 0 0 8px #fff, 0 0 12px rgb(177, 205, 253), 0 0 15px rgb(0, 115, 255), 0 0 25px rgb(0, 115, 255) !important;
    }
    &_dark {
      box-shadow: 0 0 15px #fff, 0 0 8px #fff, 0 0 12px rgb(229, 143, 143), 0 0 15px $darkSide, 0 0 25px $darkSide !important;
    }
  }
  @media (max-width: $bp-sm) {
    &_item {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
