@import 'src/styles/variables';

.header {
  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

    & a {
      color: $white;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        transition: 0.2s;
        color: $secondary !important;
      }
    }
    & div:last-child {
      margin-right: 14px;
    }
  }
  &_logo img {
    margin: 4px 0;
    width: 110px;
    display: block;
  }
  &_badge {
    position: absolute;
    top: 9px;
    font-size: 11px;
    background: $secondary;
    color: black;
    border-radius: $br-btn;
    min-width: 25px;
    min-height: 25px;
    margin: auto;
    text-align: center;
    padding: 5px 0px 0px 2px;
  }
  @media (max-width: $bp-sm) {
    &_logo img{
      width: 100px;
    }
  }
}
