@import '/styles/variables';

.footer {
  z-index: 0;
  height: 150px;
  background-image: url('/logoBlack.svg');

  background-size: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 6px;
    transition: 0.5s;

    &:hover {
      color: $secondary;
      scale: 0.9;
    }
  }

  $cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &_lyrics {
    position: relative;
    transition: all 0.5s $cubic-bezier 0.15s;
    z-index: 1;
    & span {
      position: relative;
      &:first-child,
      &:last-child {
        background-color: $white;
        position: absolute;
        height: 4px;
        width: 80px;
        transition: all 0.5s $cubic-bezier;
        border-radius: 10px;
        top: 20px;
        &:before {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          background-image: url('/double-handle-lighsaber.png');
          background-repeat: no-repeat;
          background-size: 48px;
          background-position: 0 -1%;
        }
      }
      &:first-child {
        transform: rotate(-25deg);
        right: 60px;
        animation: lightAnimation 2s $cubic-bezier 0.4s infinite alternate;
        -webkit-animation: lightAnimation 2s $cubic-bezier 0.4s infinite alternate;
        -moz-animation: lightAnimation 2s $cubic-bezier 0.4s infinite alternate;
        box-shadow: $lightSideShadow;
        -webkit-box-shadow: $lightSideShadow;
        -moz-box-shadow: $lightSideShadow;
        &:before {
          transform: translate(-85%, -3%) scaleX(-1);
        }
      }
      &:last-child {
        transform: rotate(15deg);
        left: 60px;
        animation: darkAnimation 2s $cubic-bezier 0.5s infinite alternate;
        -webkit-animation: darkAnimation 2s $cubic-bezier 0.5s infinite alternate;
        -moz-animation: darkAnimation 2s $cubic-bezier 0.5s infinite alternate;
        box-shadow: $darkSideShadow;
        -webkit-box-shadow: $darkSideShadow;
        -moz-box-shadow: $darkSideShadow;
        &:before {
          transform: translate(250%, -3%);
        }
      }
    }
    &:hover {
      color: white;
      & span:first-child,
      & span:last-child {
        top: -50px;
        animation: none;
      }
      & span:first-child {
        right: 30px;
        rotate: 10deg;
      }
      & span:last-child {
        left: 44px;
        rotate: 40deg;
      }
    }
  }

  @keyframes lightAnimation {
    0% {
      transform: translate(50px, -30px) rotate(-6deg);
    }
    25% {
      transform: translate(-10px, -30px) rotate(-35deg);
    }
    75% {
      transform: translate(-40px, -30px) rotate(-25deg);
    }
    100% {
      transform: translate(-10px, -20px) rotate(-40deg);
    }
  }
  @keyframes darkAnimation {
    0% {
      transform: translate(15px, -38px) rotate(50deg);
    }
    25% {
      transform: translate(10px, -30px) rotate(35deg);
    }
    75% {
      transform: translate(-60px, -30px) rotate(9deg);
    }
    100% {
      transform: translate(10px, -20px) rotate(40deg);
    }
  }

  @media (max-width: $bp-sm) {
    height: 90px;
    background-size: 380px;
    &_lyrics {
      & span {
        animation: none !important;
        &:first-child {
          top: 7px;
          right: 130px;
          transform: rotate(-25deg);
        }
        &:last-child {
          top: 8px;
          left: 130px;
          transform: rotate(15deg);
        }
      }
    }
  }
}
