@import 'variables';

* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  margin: 0;
  color: $white !important;
  background: $primary !important;
}

header {
  background-color: $black;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  &-primary {
    background-color: $black !important;
    border-color: $black !important;

    &:hover {
      color: $black !important;
      background-color: $secondary !important;
      border-color: $secondary !important;
    }
  }
}

input {
  &:focus-visible {
    outline: solid 1px $secondary;
  }
}

.modal {
  &-content {
    background-color: $primary !important;
  }
}

@media (max-width: $bp-sm) {
  h1 {
    font-size: 22px !important;
  }
}
