@import 'variables';

* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  margin: 0;
  color: $white !important;
  background: $primary !important;
}

header {
  background-color: $black;
}
.container {
  max-width: 1320px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
}

b {
  letter-spacing: 2px;
}

h1 {
  text-shadow: 0px 0px 20px rgb(0 0 0);
}

.btn {
  &-primary {
    background-color: $black !important;
    border-color: $black !important;

    &:hover {
      color: $black !important;
      background-color: $secondary !important;
      border-color: $secondary !important;
    }
  }
}

input,
.btn {
  border-radius: $br-btn !important;
  padding: 10px 28px !important;
}

input {
  &:focus-visible {
    outline: solid 1px $secondary;
  }
}

.modal {
  &-content {
    background-color: $primary !important;
  }
}

// Dropdown
.dropdown-menu {
  border-radius: $br-md !important;
}

.dropdown-item {
  &:active {
    color: black !important;
    background-color: $secondary !important;
  }
}

// Mobile
@media (max-width: $bp-sm) {
  h1 {
    font-size: 2.25rem !important;
  }

  .container {
    padding: 0 18px !important;
  }
}
